@media (max-width: 425px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
        min-width: 375px;
    }

    .game {
        padding-top: 1px;
    }

    .about-game {
        display: none;
    }

    .header {
        min-height: 700px;

        &__big-star {
            display: none;
        }

        &__wrapper {
            text-align: center;
            padding-top: 147px;
        }

        &__title {
            font-size: 40px;
        }

        &__subtitle {
            font-size: 16px;
        }

        &__scroll-button {
            margin-top: 36px;
            font-size: 16px;
            width: 285px;
            height: 55px;
            padding-left: 0px;
            padding-top: 16px;
        }

        &__lenta {
            font-size: 16px;
            padding: 16px 0;
        }

        &__title-run {
            font-size: 16px;
        }

        &__star-run {
            display: none;
        }

        &__star-run-mob {
            display: block;
        }
    }

    .mini-game {
        display: block;

        &__card {
            height: auto;
            margin-bottom: 24px;
            display: flex;
            flex-direction: column-reverse;
        }

        &__title {
            padding-top: 48px;
            font-size: 48px;
        }

        &__title-card {
            width: 251px;
            font-size: 32px;
            padding-bottom: 16px;
            line-height: unset;
        }

        &__text {
            width: 251px;
            font-size: 16px;
            line-height: 19px;
        }

        &__inf {
            width: 284px;
            height: unset;
            padding: 30px 30px 30px;
            margin: 0;
        }

        &__button {
            margin-right: 0;
            width: 285px;
            height: 55px;
            font-size: 16px;
        }

        /*&__card-reverse {
            flex-direction: ;
        }*/
        &__img{
            width: 343px;
            height: 284px;

            &_1 {
            background-image: url(./img/numbig.png);
        }

            &_2 {
            background-image: url(./img/arifmbig.png);
        }

            &_3 {
            background-image: url(./img/textbig.png);
        }

            &_4 {
            background-image: url(./img/stonebig.png);
        }

            &_5 {
            background-image: url(./img/victorinabig.png);
        }

            &_6 {
            background-image: url(./img/generatorbig.png);
        }
        }
    }
}